body, html {
margin: 0;
padding: 0;
font: 16px "Lato", sans-serif;

}
header h1 {
   text-indent: -900px;
}
header p{
    text-align: center;
}
#container {
    background: rgb(0, 0, 0);
    margin: 0 auto;
    min-width: 580px;
    max-width: 1280px;
    float: right;
}
.marcador-container{
    background: rgba(234, 253, 247, 0.267);
   
}
@keyframes animacao{
    from{
        background:url(../imagens/capa-Sergio-Alves.png);
    }
    to{
        background:url(../imagens/favicon.ico) ;
    }
}
@-moz-keyframes animacao{
    from{
        background:url(../imagens/capa-Sergio-Alves.png);
    }
    to{
        background:url(../imagens/favicon.ico) ;
    }
}
header {
    animation-name:animacao;
    animation-duration: 5s;
}
.conteudo{
    color: #777;
    background-color: white ;
    text-align: justify;
    padding: 50px 80px;
}
.btn {
    margin: 1px 20px;
}
#left {
    width: 300px;
    background: #777;
    
    float: right;
}


#lateral {
    
    background: orange;
    float: left;
    border-bottom: 2px dotted #ccc;
}
/*section{
    font: 16px "Lato", sans-serif;
    color: #777;
    height: 100%;
    border: 1px solid green;
}*/
h3 {
    text-transform: uppercase;
    color: #111;
    text-align: center;
}
h4 {
    padding:0 50% 0 50%;
}
footer{
    clear: both;
    border-top: 2px solid;
}
footer p {
    background: rgb(111, 230, 202);
    text-align: center;
}
/*Efeito parallax  no eletri*/
.caixa1, .caixa2 {
    
    height: 100%;
}
.caixa1{
    background-image: url(../imagens/IMG_20210623_171158.jpg);
}
.caixa2{
    background-image: url(../imagens/IMG_20210706_170605.jpg);
}