* {
margin: 0;
padding: 0;
font: 16px "Lato", sans-serif;
background: rgb(216, 214, 214);
}

header p{
    text-align: center;
}
section{
    background: 
                url(../imagens/ruido.png),
                linear-gradient(50deg,#ff4169,#7c26f8);
                background-attachment: fixed;
                font-family: Arial, Helvetica, sans-serif;
}
#container {
    background: 
                url(../imagens/ruido.png),
                linear-gradient(50deg,#ff4169,#7c26f8);
                background-attachment: fixed;
                font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    text-align: center;
}
.marcador-container{
    background: rgba(234, 253, 247, 0.267);
   
}
@keyframes animacao{
    from{
        background:url(../imagens/capa-Sergio-Alves.png);
    }
    to{
        background:url(../imagens/favicon.ico) ;
    }
}
@-moz-keyframes animacao{
    from{
        background:url(../imagens/capa-Sergio-Alves.png);
    }
    to{
        background:url(../imagens/favicon.ico) ;
    }
}
header {
    animation-name:animacao;
    animation-duration: 5s;
}

button{
    box-shadow: 5px 1px 25px rgb(231, 22, 22);
   
}


.api {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
    font-style: italic;
    text-transform: uppercase;
    
    width: 250px;
    height: 250px;
    display:inline-block;
    

}
#velha{
    background: rgb(209, 196, 205) url(../imagens/velha.jpg )  no-repeat ;
}
#bateria{
    background: rgb(209, 196, 205) url(../imagens/bateria.jpg )  no-repeat ;
    color: aliceblue;
}
#timao{
    background: rgb(209, 196, 205) url(../imagens/relogio.jpg )  no-repeat ;
}
#clima{
    background: rgb(209, 196, 205) url(../imagens/clima.jpg )  no-repeat ;
}
#desenho{
    background: rgb(209, 196, 205) url(../imagens/desenho.jpg )  no-repeat ;
}
#quiz{
    background: rgb(209, 196, 205) url(../imagens/perguntas.jpg )  no-repeat ;
}
#mata{
    background: rgba(209, 196, 205, 0.1) url(../imagens/bg_min.jpg )  no-repeat ;
    
}
ul a {
    color: black;

}
ul{
    background: 
                url(../imagens/ruido.png),
                linear-gradient(50deg,#ff4169,#7c26f8);
                background-attachment: fixed;
                font-family: Arial, Helvetica, sans-serif;
}
.carousel-item img{
    width: 700px;
    height: 420px;    
}

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: slategray;
    background: rgba(151, 148, 148, 0.3);
    text-align: center;
}
section h1 {
    background: 
    url(../imagens/ruido.png),
    linear-gradient(50deg,#ff4169,#7c26f8);
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
}
section h3 {
    background: transparent;
    color: aqua;
}



footer{
    clear: both;
    border-top: 2px solid;
}
footer {
    background: rgb(111, 230, 202);
    text-align: center;
    font-size: 24px;
}
footer span{
    font-size: 24px;
}
.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    padding-bottom: 3px;
    background: transparent;
}
/*Efeito parallax  no eletri*/
.caixa1, .caixa2 {
    
    height: 100%;
}
.caixa1{
    background-image: url(../imagens/IMG_20210623_171158.jpg);
}
.caixa2{
    background-image: url(../imagens/IMG_20210706_170605.jpg);
}
footer{
    clear: both;
}